.Signup {
  padding: 60px 0;
}

.welcome {
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formWrapper {
  width: 320px;
  padding: 32px 16px;
  margin: 0 auto;
  max-width: 320px;
}

.Link {
  color: rgba(128, 128, 128, 1);
  cursor: pointer;
}
